html {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}
body {
	background-color: #ffffff;
	color: #4B4E58;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1, .welcome {
	color: #282828;
	font-family: 'Sansus Webissimo';
	margin-top: 0px;
	font-size: 18px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}
h2 {
	color: #000000;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: #4b4e58;
	text-decoration: underline;
	cursor: pointer;
	-webkit-transition: all 0.25s;
		-moz-transition: all 0.25s;
		-o-transition: all 0.25s;
		transition: all 0.25s; 
	outline:0;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
/* button */
a.button, input.button {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background: blue;
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	-webkit-transition: all 0.35s;
		-moz-transition: all 0.35s;
		-o-transition: all 0.35s;
		transition: all 0.35s; 
	outline:0;
}

a.button {
	display: inline-block;
	text-decoration: none;
	padding: 6px 12px 6px 12px;
}
input.button {
	margin: 0;
	border: 0;
	height: 24px;
	padding: 0px 12px 0px 12px;
}
.cart input.button {
	padding-left:27px;
	height: 27px;
	padding-right:5px; 
	outline:0;}
.cart input.button:hover {
	
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #dbdbdb;
	padding: 5px;
	margin-left: 0px;
	margin-right: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	outline:0;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {
	cursor: pointer;
}
/* layout */
#container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#column-left {
	float: left;
	width: 180px;
}
#column-right {
	float: right;
	width: 180px;
}
#content {
	min-height: 400px;
	margin-bottom: 25px;
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 195px;
}
#column-right + #content {
	margin-right: 195px;
}
/* header */
#header {
	height: 90px;
	position: relative;
	z-index: 99;
}
#header #logo {
	position: absolute;
	top: 15px;
}
#language {
	position: absolute;
	top: 35px;
	right: 255px;
	color: #999;
	line-height: 17px;
	z-index:99;
}
#language img {
	cursor: pointer;
	margin-right: 5px;
}
#currency {
	position: absolute;
	top: 35px;
	right: 165px;
	color: #999;
	line-height: 17px;
	z-index:99;
}
#currency a {

}
#currency a b {
	color: #000;
	text-decoration: none;
}
#header #cart {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 9;
	min-width: 300px;
}
#header #cart .heading {
	float: right;
	background: url('../image/cart-bg.png') center right no-repeat;
	margin-top: 25px;
	padding-left: 14px;
	padding-right: 50px;
	height: 48px;
	position: relative;
	z-index: 1;
	text-align:center;
	min-width:150px;
}
#header #cart .heading h4 {
	color: #454545;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 3px;
	font-weight:normal;
	margin:0;
}
#header #cart .heading a {
	color: #454545;
	text-decoration: none;
}
#header #cart .heading a span {
	background: #FFFFFF url('../image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
}
#header #cart .content {
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 0px 7px 7px 7px;
	-moz-border-radius: 0px 7px 7px 7px;
	-khtml-border-radius: 0px 7px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	background: #FFF;
}
#header #cart.active .heading {
	
}
#header #cart.active .content {
	display: block;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	color: #4B4E58;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #4B4E58;
	padding: 4px;
}
#header #cart .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}

#header #search {
	left: 290px;
	position: absolute;
	top: 30px;
	width: 465px;
	z-index: 15;
}

#header #search input {
	background: #FFF;
	background: url('../image/search-icon.png') 8px 10px no-repeat;
	padding: 1px 1px 1px 23px;
	width: 158px;
	height: 33px;
	border: 1px solid #d1d1d1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
#header #welcome {
	position: absolute;
	top: 47px;
	right: 0px;
	z-index: 5;
	width: 298px;
	text-align: right;
	color: #999999;
}
#header .links {
	position: absolute;
	right: 0px;
	bottom: 3px;
	font-size: 10px;
	padding-right: 10px;
}
#header .links a {
	float: left;
	display: block;
	padding: 0px 0px 0px 7px;
	color: #38B0E3;
	text-decoration: none;
	font-size: 12px;
}
#header .links a + a {
	margin-left: 8px;
	border-left: 1px solid #CCC;
}
/* menu */
#menu {
	background: #4b4e58;
	height: 35px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px; 
	border-radius: 5px; 
	behavior: url(border-radius.htc); 
	padding: 0px 0 0 0px;
	margin-bottom:15px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	position: relative;
	float: left;
	z-index: 90;
	padding: 0px 0px 0px 0px;
	background: url('../image/menu-sep.png') center right no-repeat;
}
#menu > ul > li:last-child {
	background:none; }
#menu > ul > li:hover {
}
#menu > ul > li > a {
	font-size: 12px;
	color: #FFF;
	line-height: 35px;
	text-decoration: none;
	display: block;
	padding: 0px 14px 0px 14px;
	z-index: 6;
	position: relative;
}
#menu > ul > li:hover > a {
	color: #fff;
}
#menu > ul > li:first-child:hover > a {
	-moz-border-radius: 5px 0 0 0px;
	-webkit-border-radius: 5px 0 0 0px;
	-khtml-border-radius: 5px 0 0 0px;
	border-radius: 5px 0 0 0px;
	behavior: url(border-radius.htc); 
	
}

#menu > ul > li > div {
	display: none;
	position: absolute;
	z-index: 1020;
	padding: 0px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	background: #4B4E58;
}
#menu > ul > li:hover > div {
/*	display: table;*/ 
}
#menu > ul > li > div > ul {
	display: table-cell;
	border-radius: 0px 0px 4px 4px;
	padding-bottom: 4px;	
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	font-size: 12px;
	text-decoration: none;
	padding: 8px 14px;
	color: #FFFFFF;
	display: block;
	white-space: nowrap;
	min-width: 160px;
	-webkit-transition-property: color, background; 
	-moz-transition-property: color, background; 
	-o-transition-property: color, background; 
	transition-property: color, background; 
	-webkit-transition-duration: 0.2s, 0.2s; 
	-moz-transition-duration: 0.2s, 0.2s;  
	-o-transition-duration: 0.2s, 0.2s; 
	transition-duration: 0.2s, 0.2s; 
}
#menu > ul > li ul > li > a.last_submenu_item{
/*
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 4px 4px; */	
}
#menu > ul > li ul > li > a:hover {
	color: #fff;
}
#menu > ul > li > div > ul > li > a {
	color: #FFFFFF;
}
.breadcrumb {
	margin-bottom: 10px;
	color:#9B9EA5;
}
.breadcrumb a {
	color:#9B9EA5;
	text-transform: uppercase;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	padding-left:10px;
	margin-bottom: 15px;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success {
	background: #EBECED;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.warning {
	background: #FFE8E8;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	background: #fff6cf;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
.pagination {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}

.buttons {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: 'Sansus Webissimo';
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.htabs a.selected {
	padding-bottom: 12px;
	margin-top:-5px;
	background: #FFFFFF;
}
.tab-content {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
}
/* box */
.box {
	margin-bottom: 20px;
}
.box .box-heading {
	font-family: 'Sansus Webissimo';
	font-size: 18px;
	text-transform: uppercase;
	line-height: 18px;
	color: #282828;
	background:url('../image/mod-head.png');
	
}
.box .box-heading.social {background:none;}
#content .box .box-heading .mod-head {padding-left:20px;}
.box .box-heading .mod-head {
	background:#fff;
	padding-right:5px;
	padding-left:10px;
}

#social .box .box-heading .mod-head {
	padding-right:0;
}
.box .box-heading a {
	font-family: 'Sansus Webissimo';
	font-size: 18px;
	text-transform: uppercase;
	line-height: 18px;
	color: #282828;
	
}
.htabs-s a {text-decoration:none; padding:5px;}
.htabs-s a.selected {
	text-decoration:underline; 
	background:#f2f2f2; 	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px; border-bottom:1px solid #dddddd; 
}
#social #vk, #social #facebook {
	margin-top:15px;
	}
.box .box-content {
	background: #FFFFFF;
	padding: 10px;
	margin-top:5px;
	
}
.box .box-content.category {
	background:#ebeced;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom:1px solid #dddddd;
}

.box .box-content.category .box-category a {
	color:#282828;
	}
.box .box-content.category .box-category a:hover {
	text-decoration: underline;
	}
.box .box-content.category .box-category li ul li a {
	color:#282828; 
	text-decoration: underline;
	}
.box .box-content.category .box-category li ul li a:hover {
	text-decoration:none;
	}
.box .box-content.category .box-category li {
	background: url('../image/mod-category-sep.png') center bottom repeat-x; 
	}
.box .box-content.category .box-category li ul li {
	background:none; 
	list-style: disc; 
	padding-left:0px; 
	margin-left:15px; 
	color:#4E525D;
}
/* box products */
.box-product {
	width: 100%;
	overflow: auto;
}
.box-product > div {
	width: 215px;
	display: inline-block;
	vertical-align: top;
	margin-right: 18px;
	margin-left: 18px;
	margin-bottom: 0px;
	text-align:center;
}
#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
#column-left .box-product .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
	
}
#column-left .box-product div {
	width:150px; }
.box-product > div { border:1px solid #cdcdcd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-top:5px;
	padding-bottom:10px; }

#column-left .box-product .image img {

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.box-product .name a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.box-product .price {
	display: block;
	color: #757575;
	margin-bottom: 4px;
	font-family: 'Sansus Webissimo';
	font-size:22px;
}
.box-product .price-old {
	color: #afaeae;
	text-decoration: line-through;
	font-size:16px;
}
.box-product .price-new {
	color:#757575;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
ul.box-category, ul.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-category > li:first-child {
	padding: 0px 8px 8px 0px;
}
ul.box-category > li {
	padding: 8px 8px 8px 0px;
}
ul.box-category > li + li {
	border-top: 1px solid #EEEEEE;
}
ul.box-category > li > a {
	text-decoration: none;
	color: #333;
}
ul.box-category > li ul {
	display: none;
}
ul.box-category > li a.active {
	text-decoration: underline;
}
ul.box-category > li a.active + ul {
	display: block;
}
ul.box-category > li ul > li {
	padding: 5px 5px 0px 10px;
}
ul.box-category > li ul > li > a {
	text-decoration: none;
	display: block;
	color:#4E525D !important;
	font-size:11px;
}
ul.box-category > li ul > li > a.active {
	
}
/* box filter */
ul.box-filter, ul.box-filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-filter span {
	font-weight: bold;
	border-bottom: 1px solid #EEEEEE;	
	display: block;
	padding-bottom: 5px;
	margin-bottom: 8px;
}
ul.box-filter > li ul {
	padding-bottom: 10px;
}
/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 20px;
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul {
	float: left;
	width: 18%;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 5px;
	overflow: auto;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	color: #333;
}
.product-filter .display a {
	font-weight: bold;
}
.product-filter .sort {
	float: right;
	color: #333;
	border-right: 1px solid #CCCCCC;
	padding-right: 15px;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
}
.product-compare {
	padding-top: 6px;
	margin-bottom: 25px;
	font-weight: bold;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
}
.product-list > div {
	overflow: hidden;
	margin-bottom: 15px;
	position:relative;
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {

}
.product-list .image img:hover {
	behavior:url(-ms-transform.htc);  
	-moz-transform:none;  
	-webkit-transform:none;  
	-o-transform:none;  
	-ms-transform:none;  
}
.product-list .name {
	margin-bottom: 3px;
}
.product-list .name a {
	color: #454545;
	text-decoration: none;
	font-weight: bold;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	float: right;
	height: 50px;
	margin-left: 8px;
	text-align: right;
	color: #333333;
	font-size: 12px;
}
.product-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
	margin-bottom: 3px;
	width: 100px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist {
	float:right;
	margin-top: 7px;
	}
.product-list .compare {
	float:right; 
	

	}
.product-list .wishlist a
{
	background: url('../image/wishlist.png') left center no-repeat;
	color: #333333;
	display: block;
	height: 15px;
	text-decoration: none;
	width: 15px;
}
.product-list .compare a
{
	background: url('../image/compare.png') left center no-repeat;
	color: #333333;
	display: block;
	height: 15px;

	text-decoration: none;
	width: 15px;
}
.wc-options {width:50px; margin:0 auto;}

.product-grid {
	width: 100%;
	overflow: auto;
}
.product-grid > div {
	width: 130px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
	width: 214px; 
	border:1px solid #cdcdcd; 
	padding:5px; 
	padding-top:8px;
	padding-bottom:11px;
	text-align:center; 
	margin-right:16px;
	margin-left:16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position:relative;
}
.jcarousel ul li > div {
	position:relative;
}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin-bottom: 0px;
}
.product-grid .image img {
	padding: 3px;

}
.name a:hover {text-decoration:underline;}
.product-grid .name a {
	color: #454545;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	color: #333333;
	margin-bottom: 4px;
	display: block;
	color: #757575;
	margin-bottom: 4px;
	font-family: 'Sansus Webissimo';
	font-size:22px;
}
.product-grid .price-old {
	color: #AFAEAE;
	font-size:16px;
	text-decoration: line-through;
}
.product-grid .price-new {
	
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .name {margin-top: 5px; }
.product-grid .cart {
	margin-right:5px;
	margin-bottom: 3px;
	float:right;
}
.product-grid .wishlist {
	float:left;
	margin-top:5px;
	margin-left:5px;
	}
.product-grid .compare {
	float:left;
	margin-top:5px;
	}
.product-grid .wishlist a
{
	background: url('../image/wishlist.png') left center no-repeat;
	color: #333333;
	display: block;
	height: 15px;
	padding-left: 18px;
	text-decoration: none;

}
.product-grid .compare a
{
	background: url('../image/compare.png') left center no-repeat;
	color: #333333;
	display: block;
	height: 15px;
	margin-left: 5px;
	padding-left: 18px;
	text-decoration: none;

}

.product-info .wishlist a
{
	background: url('../image/wishlist.png') left center no-repeat;
	color: #333333;
	display: block;
	height: 15px;
	padding-left: 18px;
	text-decoration: none;

}
.product-info .compare a
{
	background: url('../image/compare.png') left center no-repeat;
	color: #333333;
	display: block;
	height: 15px;
	margin-left: 5px;
	padding-left: 18px;
	text-decoration: none;

}
.product-info .wishlist { margin-left:10px; }
.product-info .compare, .product-info .wishlist {
	float:left;
}
.tooltip
{
	background-color: #242424;
	border-radius: 5px;
	color: #fff;
	display: none;
	font-size: 12px Arial;
	max-width: 200px;
	padding: 10px;
	position: absolute;
}

/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
}
.product-info > .left {
	float: left;
	margin-right: 15px;
}
.product-info > .left + .right {
	margin-left: 265px;
}
.product-info .image {
	border: 1px solid #E7E7E7;
	float: left;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}
.product-info .image-additional {
	width: 260px;
	margin-left: -10px;
	clear: both;
	overflow: hidden;
	position:relative;
}
.product-info .image-additional img {
	border: 1px solid #E7E7E7;
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-left: 9px;
	margin-bottom: 10px;
	outline:0;
}
.product-info .description {
	padding: 5px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #4D4D4D;
	text-transform: uppercase;
}
.product-info .description span {
	color: #282828;
	text-transform: uppercase;
	font-weight:bold;
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
	overflow: auto;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: bold;
}
.product-info .price .text {
	font-weight:bold;
	font-size:12px;
	color:#000;
	text-transform: uppercase;
}
.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-info .price-new {
	font-size:25px!important;
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	padding: 0px 5px 10px 5px;
	margin-bottom: 20px;
	color: #4D4D4D;
	overflow:hidden;

}
.product-info .cart .backaddinfo {
	background:#f6f6f6;
	border-bottom:1px solid #e8e8e8;
	padding:15px;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.product-info .cart div > span {
	color: #999;
}
.product-info .cart .links {
	display: inline-block;
	vertical-align: middle;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
}
.product-info .review {
	color: #4D4D4D;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.review-list {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
.review-list .author {
	float: left;
	margin-bottom: 20px;
}
.review-list .rating {
	float: right;
	margin-bottom: 20px;
}
.review-list .text {
	clear: both;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .price s {
	color: #F00;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48% ;
	text-align: center;
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */ 
#footer {
	clear: both;
	overflow: auto;
	min-height: 100px;
	padding: 20px;
	background: #4b4e58;
}
#footer h3 {
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 8px;
	font-family: 'Sansus Webissimo';
	font-weight:normal;
	text-transform: uppercase;
}
#footer .column {
	float: left;
	width: 25%;
	min-height: 100px;
	color:#fff;
}
#footer .column ul {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 5px;
	
}
#footer .column ul li {
	margin-bottom: 3px;
}
#footer .column a {
	text-decoration: none;
	color: #fff;
	-webkit-transition: all 0.25s;
		-moz-transition: all 0.25s;
		-o-transition: all 0.25s;
		transition: all 0.25s; 
}

#footer .column a:hover {
	text-decoration: underline;
}

#powered {
	margin-top: 5px;
	text-align:center;
	color:#fff;
}
#powered a {
	color:#fff;
}
.powsoc {
	width:150px; 
	margin:0 auto;
}
/* banner */
.banner div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner div img {
	margin-bottom: 20px;
}
.mod.about {
	width:315px;
	float:left; 
}
.mod.contacts {
	width:315px;
	float:left; 
	margin-left:17px;
}
.mod.anyhtml {
	width:315px;
	float:left; 
	margin-left:17px;

}
.mod h3 {
	font-family: 'Sansus Webissimo';
	margin-top: 0px;
	margin-bottom:5px;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	text-align:center;
	background:url('../image/mod-head.png');
	}
.mod h3 span {
	background: #fff;
	padding-left:5px;
	padding-right:5px;
}
.modwrap {
	background:#ebeced;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom:2px solid #dddddd;
	min-height:100px;
	padding:15px;
	color:#282828;
}
#hmtctl {display:none;}
.breadcrumb {display:none;}
.compare{
	display: none;
}
.display{
	display: none;
}
.product-compare{
	display: none;
}
.product-list-table  tr:hover{
	background-color: #FFFFCB;
}
.product-list-table{
	width: 100%;
}
.quantity_input{
	width: 60px;
}
.product-list-table thead td{
	line-height: 32px;
	font-size: 18px;
}
.box ul, .blog-list ul{
	padding: 0px;
}
.filter-box {
	margin: 0;
	float: right;
}
.filter-box .box-content{
	padding: 0px;
	margin: 0px;
	border-right: 1px solid #CCCCCC;
}
.filter-box .box-heading{
	display: none;
	
}

.filter-item .filter-item-select-head{
	font-weight: bold;
	margin-bottom: 3px;
}
.filter-item select{
	width: 180px;
}
.sort{
	float: right;
}
.limit p{
	margin-bottom: 3px;
	font-weight: bold;	
}
.sort p{
	margin-bottom: 3px;
	font-weight: bold;	
}
.sort select{
	width: 135px;
}
#content{
	position: relative;
}
.product-filter{
	height: 75px;
}
#filter_apply_button{
	position: absolute;
	right: 40%;
	margin-top: 50px;
}
.resetFilter{
	position: absolute;
	right: 50%;
	margin-top: 50px;
}
.filter-box .filter-item{
	float: left;
	border-right: 1px solid #CCCCCC;
	padding-right: 15px;
	margin-right: 15px;
	
} 
.first_option_name{
	font-weight: bold;
}

.filter_note {
	left: 10px;
	margin-top: 55px;
	position: absolute;
	width: 271px;
}
.filter-box .error{
	right: 0px;
	margin-top: 55px;
	position: absolute;
	width: 367px;
	font-weight: bold;
}
.start_text{
	text-align: center;
	font-size: 16px;
}
.filter-item-select-list input{
	width: 100px;
}
input.red{
	border: 1px solid red !important;
}
.product-warning{
	color: red;
}
.simplecheckout-cart td.quantity input[type="text"]{
	width: 40px !important;
	height: 25px !important;
}
.common_content_bottom .blog-record-list-small > div{
	float: left;
	width: 240px;
}


a.blog_further {
	float: right;
	margin-right: 20px;
	text-decoration: none;
}
.blog-record-list-small .name{
	margin-left: 10px;
}